<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="heading">
                <img src="/img/logo.png" alt="logo" class="logo">
                <h1 class="title">MAKTABATUS SALAM</h1>
            </div>
            <div class="navbar">
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/notice">NOTICE</a>
                <div class="administration-section">
                    <button class="administration">ADMINISTRATION</button>
                    <div class="administration-panel">
                        <a href="/admin/library">LIBRARY</a>
                        <a href="/admin/finance">FINANCE</a>
                        <a href="/admin/media">MEDIA & COMMUNICATIONS</a>
                    </div>
                </div>
                <a href="/committee">COMMITTEE</a>
                <a href="/gallery">GALLERY</a>
                <a href="/library">LIBRARY</a>
            </div>
        </header>
        <main class="main">
            <div class="admin-library-box">
                <h2 class="admin-library-title">Add Book</h2>
                <form action="/admin/library/addbook" method="POST" class="admin-library-upload-form"
                    enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="book-id-upload">Book Id: *(MS001)</label>
                        <input type="text" name="book-id-upload" id="book-id-upload" required>
                    </div>
                    <div class="form-group">
                        <label for="book-image-upload">Book Photo:</label>
                        <input type="file" id="book-image-upload" name="book-image-upload" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label for="book-description-upload">Book Description:</label>
                        <textarea name="book-description-upload" id="book-description-upload" rows="5"
                            required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="book-status-upload">Book Status:</label>
                        <input type="text" id="book-status-upload" name="book-status-upload" required>
                        </select>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <h2 class="admin-library-title">Remove Book</h2>
                <form action="/admin/library/removebook" method="POST" class="admin-library-upload-form">
                    <div class="form-group">
                        <label for="book-id-remove">Book Id:</label>
                        <input type="text" name="book-id-remove" id="book-id-remove" required>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <h2 class="admin-library-title">Update Book</h2>

                <form action="/admin/library/updatebook" method="POST" class="admin-library-upload-form"
                    enctype="multipart/form-data">
                    <h6>*Only fill in the fields you want to update.</h6>
                    <div class="form-group">
                        <label for="book-id-update">Book Id:</label>
                        <input type="text" name="book-id-update" id="book-id-update" required>
                    </div>
                    <div class="form-group">
                        <label for="book-image-update">Book Photo:</label>
                        <input type="file" id="book-image-update" name="book-image-update" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label for="book-description-update">Book Description:</label>
                        <textarea name="book-description-update" id="book-description-update" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="book-status-update">Book Status:</label>
                        <input type="text" id="book-status-update" name="book-status-update" required>
                        </select>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
            </div>
        </main>
        <footer class="footer">
            <div class="contact-section">
                <div class="address-box">
                    <h4 class="address-title">Address: </h4>
                    <p class="address">Bangladesh Forest Research Institute, Chattogram, Bangladesh</p>
                </div>
                <div class="mail-box">
                    <h4 class="mail-title">Email: </h4>
                    <p class="mail-address">abcdejgh@gmail.com</p>
                </div>
                <div class="phone-box">
                    <h4 class="phone-title">Phone: </h4>
                    <p class="phone-number">(+880) 01010101010</p>
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/people/Maktabatus-Salam-%E0%A6%AE%E0%A6%BE%E0%A6%95%E0%A6%A4%E0%A6%BE%E0%A6%AC%E0%A6%BE%E0%A6%A4%E0%A7%81%E0%A6%B8-%E0%A6%B8%E0%A6%BE%E0%A6%B2%E0%A6%BE%E0%A6%AE/61567857368448/"
                        class="facebook-link">
                        <img class="facebook-icon" src="/img/facebook-icon.png" alt="Facebook">
                    </a>
                </div>
            </div>
            <div class="copyright-section">&copy; Maktabatus Salam &bull; All Rights Reserved</div>
        </footer>
    </div>
</body>

</html>