<form action="/logout" method="POST" class="admin-logout-form">
    <button class="logout-btn" type="submit">Log Out</button>
</form>

<div class="borrow-lent-lists">
    <a href="/borrowers" class="borrowers"><button class="borrowers-btn">Borrowers</button></a>
    <a href="/borrowRequests" class="borrow-requests"><button class="borrow-requests-btn">Borrow Requests</button></a>

</div>

<div class="admin-library-box">
    <h2 class="admin-library-title">Add Borrower</h2>
    <form action="/admin/library/addborrower" method="POST" class="admin-library-upload-form">
        <div class="form-group">
            <label for="book-id-upload">Book Id: *(MS001)</label>
            <input type="text" name="book-id-upload" id="book-id-upload" required>
        </div>
        <div class="form-group">
            <label for="borrower-name-upload">Borrower's Name:</label>
            <input type="text" id="borrower-name-upload" name="borrower-name-upload" required>
        </div>
        <div class="form-group">
            <label for="borrower-contact-upload">Borrower's Contact:</label>
            <input type="text" id="borrower-contact-upload" name="borrower-contact-upload" required>
        </div>
        <div class="form-group">
            <label for="borrow-date-upload">Borrow Date:</label>
            <input type="date" id="borrow-date-upload" name="borrow-date-upload" required>
        </div>
        <div class="form-group">
            <label for="due-date-upload">Due Date:</label>
            <input type="date" id="due-date-upload" name="due-date-upload" required>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h2 class="admin-library-title">Update Book Return Date</h2>
    <form action="/admin/library/updateBookReturnDate" method="POST" class="admin-library-upload-form">
        <div class="form-group">
            <label for="book-id-upload">Book Id: *(MS001)</label>
            <input type="text" name="book-id-upload" id="book-id-upload" required>
        </div>
        <div class="form-group">
            <label for="return-date-upload">Due Date:</label>
            <input type="date" id="return-date-upload" name="return-date-upload" required>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h2 class="admin-library-title">Add Book</h2>
    <form action="/admin/library/addbook" method="POST" class="admin-library-upload-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="book-id-upload">Book Id: *(MS001)</label>
            <input type="text" name="book-id-upload" id="book-id-upload" required>
        </div>
        <div class="form-group">
            <label for="book-image-upload">Book Photo:</label>
            <input type="file" id="book-image-upload" name="book-image-upload" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="book-description-upload">Book Description:</label>
            <textarea name="book-description-upload" id="book-description-upload" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="book-status-upload">Book Status:</label>
            <input type="text" id="book-status-upload" name="book-status-upload" required>
            </select>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h2 class="admin-library-title">Remove Book</h2>
    <form action="/admin/library/removebook" method="POST" class="admin-library-upload-form">
        <div class="form-group">
            <label for="book-id-remove">Book Id:</label>
            <input type="text" name="book-id-remove" id="book-id-remove" required>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h2 class="admin-library-title">Update Book</h2>

    <form action="/admin/library/updatebook" method="POST" class="admin-library-upload-form"
        enctype="multipart/form-data">
        <h6>*Only fill in the fields you want to update.</h6>
        <div class="form-group">
            <label for="book-id-update">Book Id:</label>
            <input type="text" name="book-id-update" id="book-id-update" required>
        </div>
        <div class="form-group">
            <label for="book-image-update">Book Photo:</label>
            <input type="file" id="book-image-update" name="book-image-update" accept="image/*">
        </div>
        <div class="form-group">
            <label for="book-description-update">Book Description:</label>
            <textarea name="book-description-update" id="book-description-update" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="book-status-update">Book Status:</label>
            <input type="text" id="book-status-update" name="book-status-update" required>
            </select>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
</div>