<form action="/logout" method="POST" class="admin-logout-form">
    <button class="logout-btn" type="submit">Log Out</button>
</form>
<div class="admin-media-box">
    <h2 class="admin-media-title">Add Media Information</h2>
    <br>
    <br>
    <h4 class="latest-news-upload-title">Add Latest News</h4>
    <form action="/admin/media/addMediaInformation" method="POST" class="admin-media-upload-form">
        <div class="form-group">
            <label for="latest-news-upload">Latest News:</label>
            <textarea name="latest-news-upload" id="latest-news-upload" rows="3"></textarea>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h4 class="quranic-verse-upload-title">Add Quranic Verse</h4>
    <form action="/admin/media/addMediaInformation" method="POST" class="admin-media-upload-form">
        <a class="show-all-verses" href="/admin/media/showAllVerses">All Verses</a>
        <div class="form-group">
            <label for="quranic-verse-num-upload">Verse Number:</label>
            <input type="text" name="quranic-verse-num-upload" id="quranic-verse-num-upload" required>
            <label for="quranic-verse-upload">Quranic Verse:</label>
            <textarea name="quranic-verse-upload" id="quranic-verse-upload" rows="6"></textarea>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h4 class="message-upload-title">Add Message From Chief Advisor And President</h4>
    <form action="/admin/media/addMediaInformation" method="POST" class="admin-media-upload-form">
        <div class="form-group">
            <label for="message1-upload">Message From Chief Advisor:</label>
            <textarea name="message1-upload" id="message1-upload" rows="6"></textarea>
            <label for="message1-author-upload">Chief Advisor:</label>
            <input type="text" name="message1-author-upload" id="message1-author-upload">
            <label for="message2-upload">Message From President:</label>
            <textarea name="message2-upload" id="message2-upload" rows="6"></textarea>
            <label for="message2-author-upload">President:</label>
            <input type="text" name="message2-author-upload" id="message2-author-upload">
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h4 class="news-events-upload-title">Add News & Events</h4>
    <form action="/admin/media/addMediaInformation" method="POST" class="admin-media-upload-form"
        enctype="multipart/form-data">
        <div class="form-group">
            <label for="news-events-id-upload">Id: *(ME001)</label>
            <input type="text" name="news-events-id-upload" id="news-events-id-upload" required>
        </div>
        <div class="form-group">
            <label for="news-events-image-upload">Photo:</label>
            <input type="file" id="news-events-image-upload" name="news-events-image-upload" accept="image/*">
        </div>
        <div class="form-group">
            <label for="news-events-description-upload">Description:</label>
            <textarea name="news-events-description-upload" id="news-events-description-upload" rows="6"></textarea>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h4 class="notice-upload-title">Add Notice</h4>
    <form action="/admin/media/addMediaInformation" method="POST" class="admin-media-upload-form">
        <div class="form-group">
            <label for="notice-id-upload">Id: *(MN001)</label>
            <input type="text" id="notice-id-upload" name="notice-id-upload" required>
        </div>
        <div class="form-group">
            <label for="notice-description-upload">Description:</label>
            <textarea name="notice-description-upload" id="notice-description-upload" rows="6" required></textarea>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h4 class="committee-upload-title">Add Committee</h4>
    <form action="/admin/media/addMediaInformation" method="POST" class="admin-media-upload-form">
        <div class="form-group">
            <label for="committee-upload">Committee:</label>
            <textarea name="committee-upload" id="committee-upload" rows="8"></textarea>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h4 class="about-upload-title">Add About</h4>
    <form action="/admin/media/addMediaInformation" method="POST" class="admin-media-upload-form">
        <div class="form-group">
            <label for="about-upload">About:</label>
            <textarea name="about-upload" id="about-upload" rows="8"></textarea>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h4 class="footer-upload-title">Add Footer</h4>
    <form action="/admin/media/addMediaInformation" method="POST" class="admin-media-upload-form">
        <div class="form-group">
            <label for="address-upload">Address:</label>
            <input type="text" id="address-upload" name="address-upload">
        </div>
        <div class="form-group">
            <label for="mail-upload">Mail:</label>
            <input type="text" id="mail-upload" name="mail-upload">
        </div>
        <div class="form-group">
            <label for="phone-upload">Phone:</label>
            <input type="text" id="phone-upload" name="phone-upload">
        </div>
        <div class="form-group">
            <label for="facebook-upload">Facebook Link:</label>
            <input type="text" id="facebook-upload" name="facebook-upload">
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <br>
    <h2 class="remove-media-title">Remove Media Information</h2>
    <br>
    <br>
    <h4 class="quranic-verse-remove-title">Remove Quranic Verse</h4>
    <form action="/admin/media/removeMediaInformation" method="POST" class="admin-media-remove-form">
        <div class="form-group">
            <label for="quranic-verse-num-remove">Verse Number:</label>
            <input type="text" name="quranic-verse-num-remove" id="quranic-verse-num-remove" required>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>

    </form>
    <br>
    <h4 class="news-event-remove-title">Remove News & Events</h4>
    <form action="/admin/media/removeMediaInformation" method="POST" class="admin-media-remove-form">
        <div class="form-group">
            <label for="news-event-id-remove">Id:</label>
            <input type="text" name="news-event-id-remove" id="news-event-id-remove" required>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
    <h4 class="notice-remove-title">Remove Notice</h4>
    <form action="/admin/media/removeMediaInformation" method="POST" class="admin-media-remove-form">
        <div class="form-group">
            <label for="notice-id-remove">Id:</label>
            <input type="text" id="notice-id-remove" name="notice-id-remove" required>
        </div>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>
    <br>
</div>