<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="heading">
                <img src="/img/logo.png" alt="logo" class="logo">
                <h1 class="title">MAKTABATUS SALAM</h1>
            </div>
            <div class="navbar">
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/notice">NOTICE</a>
                <div class="administration-section">
                    <button class="administration">ADMINISTRATION</button>
                    <div class="administration-panel">
                        <a href="/admin/library">LIBRARY</a>
                        <a href="/admin/finance">FINANCE</a>
                        <a href="/admin/media">MEDIA & COMMUNICATIONS</a>
                    </div>
                </div>
                <a href="/committee">COMMITTEE</a>
                <a href="/gallery">GALLERY</a>
                <a href="/library">LIBRARY</a>
            </div>
        </header>
        <main class="main">
            <div class="admin-media-box">
                <h2 class="admin-media-title">Add Media Information</h2>
                <br>
                <br>
                <h4 class="latest-news-upload-title">Add Latest News</h4>
                <form action="/admin/library/addMediaInformation" method="POST" class="admin-media-upload-form">
                    <div class="form-group">
                        <label for="latest-news-upload">Latest News:</label>
                        <textarea name="latest-news-upload" id="latest-news-upload" rows="3"></textarea>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <h4 class="quranic-verse-upload-title">Add Quranic Verse</h4>
                <form action="/admin/library/addMediaInformation" method="POST" class="admin-media-upload-form">
                    <div class="form-group">
                        <label for="quranic-verse-num-upload">Verse Number:</label>
                        <input type="text" name="quranic-verse-num-upload" id="quranic-verse-num-upload" required>
                        <label for="quranic-verse-upload">Quranic Verse:</label>
                        <textarea name="quranic-verse-upload" id="quranic-verse-upload" rows="6"></textarea>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <h4 class="message-upload-title">Add Message From Chief Advisor And President</h4>
                <form action="/admin/library/addMediaInformation" method="POST" class="admin-media-upload-form">
                    <div class="form-group">
                        <label for="message1-upload">Message From Chief Advisor:</label>
                        <textarea name="message1-upload" id="message1-upload" rows="6"></textarea>
                        <label for="message1-author-upload">Chief Advisor:</label>
                        <input type="text" name="message1-author-upload" id="message1-author-upload">
                        <label for="message2-upload">Message From President:</label>
                        <textarea name="message2-upload" id="message2-upload" rows="6"></textarea>
                        <label for="message2-author-upload">President:</label>
                        <input type="text" name="message2-author-upload" id="message2-author-upload">
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <h4 class="news-events-upload-title">Add News & Events</h4>
                <form action="/admin/library/addMediaInformation" method="POST" class="admin-media-upload-form"
                    enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="news-events-id-upload">Id: *(ME001)</label>
                        <input type="text" name="news-events-id-upload" id="news-events-id-upload" required>
                    </div>
                    <div class="form-group">
                        <label for="news-events-image-upload">Photo:</label>
                        <input type="file" id="news-events-image-upload" name="news-events-image-upload"
                            accept="image/*">
                    </div>
                    <div class="form-group">
                        <label for="news-events-description-upload">Description:</label>
                        <textarea name="news-events-description-upload" id="news-events-description-upload"
                            rows="6"></textarea>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <h4 class="notice-upload-title">Add Notice</h4>
                <form action="/admin/library/addMediaInformation" method="POST" class="admin-media-upload-form">
                    <div class="form-group">
                        <label for="notice-id-upload">Id: *(MN001)</label>
                        <input type="text" id="notice-id-upload" name="notice-id-upload" required>
                    </div>
                    <div class="form-group">
                        <label for="notice-description-upload">Description:</label>
                        <textarea name="notice-description-upload" id="notice-description-upload" rows="6"
                            required></textarea>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <br>
                <h2 class="remove-media-title">Remove Media Information</h2>
                <br>
                <br>
                <h4 class="quranic-verse-remove-title">Remove Quranic Verse</h4>
                <form action="/admin/library/removeMediaInformation" method="POST" class="admin-media-remove-form">
                    <div class="form-group">
                        <label for="quranic-verse-num-remove">Verse Number:</label>
                        <input type="text" name="quranic-verse-num-remove" id="quranic-verse-num-remove" required>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <h4 class="news-event-remove-title">Remove News & Events</h4>
                <form action="/admin/library/removeMediaInformation" method="POST" class="admin-media-remove-form">
                    <div class="form-group">
                        <label for="news-event-id-remove">Id:</label>
                        <input type="text" name="news-event-id-remove" id="news-event-id-remove" required>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
                <h4 class="notice-remove-title">Remove Notice</h4>
                <form action="/admin/library/removeMediaInformation" method="POST" class="admin-media-remove-form">
                    <div class="form-group">
                        <label for="notice-id-remove">Id:</label>
                        <input type="text" id="notice-id-remove" name="notice-id-remove" required>
                    </div>
                    <br>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <br>
            </div>
        </main>
        <footer class="footer">
            <div class="contact-section">
                <div class="address-box">
                    <h4 class="address-title">Address: </h4>
                    <p class="address">Bangladesh Forest Research Institute, Chattogram, Bangladesh</p>
                </div>
                <div class="mail-box">
                    <h4 class="mail-title">Email: </h4>
                    <p class="mail-address">abcdejgh@gmail.com</p>
                </div>
                <div class="phone-box">
                    <h4 class="phone-title">Phone: </h4>
                    <p class="phone-number">(+880) 01010101010</p>
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/people/Maktabatus-Salam-%E0%A6%AE%E0%A6%BE%E0%A6%95%E0%A6%A4%E0%A6%BE%E0%A6%AC%E0%A6%BE%E0%A6%A4%E0%A7%81%E0%A6%B8-%E0%A6%B8%E0%A6%BE%E0%A6%B2%E0%A6%BE%E0%A6%AE/61567857368448/"
                        class="facebook-link">
                        <img class="facebook-icon" src="/img/facebook-icon.png" alt="Facebook">
                    </a>
                </div>
            </div>
            <div class="copyright-section">&copy; Maktabatus Salam &bull; All Rights Reserved</div>
        </footer>
    </div>
</body>

</html>