<div class="all-verses">
    <div class="verses">
        <% for(let i=0; i < quranicVerses.length; i++){ %>
            <p class="verse">
                <span class="verse-num">
                    <%=quranicVerses[i].verseNum%>
                </span>
                <%= quranicVerses[i].verse %>
            </p>
            <br>
            <% } %>
    </div>
</div>