<footer class="footer">
    <div class="contact-section">
        <div class="address-box">
            <h4 class="address-title">Address: </h4>
            <p class="address"><%= footer.address %></p>
        </div>
        <div class="mail-box">
            <h4 class="mail-title">Email: </h4>
            <p class="mail-address"> <%= footer.mail %> </p>
        </div>
        <div class="phone-box">
            <h4 class="phone-title">Phone: </h4>
            <p class="phone-number"><%= footer.phone %></p>
        </div>
        <div class="social-links">
            <a href= <%= footer.facebook %>>
                <img class="facebook-icon" src="/img/facebook-icon.png" alt="Facebook">
            </a>
        </div>
    </div>
    <div class="copyright-section">&copy; Maktabatus Salam &bull; All Rights Reserved</div>
</footer>