<div class="news-event-section">
    <div class="new-event-section-title">NEWS & EVENTS</div>
    <% if(newsEvents && newsEventsPhoto){ %>
        <% for(let i=0; i < newsEvents.length && i < newsEventsPhoto.length; i++){ %>
            <div class="news-event-box">
                <img class="news-event-img" src=<%=newsEventsPhoto[i] %> alt="img">
                <div class="news-event">
                    <p class="date">
                        <%= newsEvents[i].createdAt.toLocaleDateString('bn-BD', {day: '2-digit' , month: 'long' ,
                            year: 'numeric' }) %>
                    </p>
                    <a class="news-event-title" href="/gallery/<%=newsEvents[i].id%>">
                        <%= newsEvents[i].description %>
                    </a>
                </div>
            </div>
            <% } %>
        <% } %>
</div>