<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="heading">
                <img src="/img/logo.png" alt="logo" class="logo">
                <h1 class="title">MAKTABATUS SALAM</h1>
            </div>
            <div class="navbar">
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/notice">NOTICE</a>
                <div class="administration-section">
                    <button class="administration">ADMINISTRATION</button>
                    <div class="administration-panel">
                        <a href="/admin/library">LIBRARY</a>
                        <a href="/admin/finance">FINANCE</a>
                        <a href="/admin/media">MEDIA & COMMUNICATIONS</a>
                    </div>
                </div>
                <a href="/committee">COMMITTEE</a>
                <a href="/gallery">GALLERY</a>
                <a href="/library">LIBRARY</a>
            </div>
            <div class="news-section">
                <div class="news-type">Latest News:</div>
                <div class="news">
                    <p class="news-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, temporibus obcaecati nulla odio laborum labore aliquam vero iure quidem asperiores sed ducimus fugiat ab distinctio, libero cumque quia eum eaque!
                    </p>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="quran-section">
                <div class="verse-section">
                    <p class="verse">তোমরা কীভাবে আল্লাহ্‌কে অস্বীকার করো? অথচ তোমরা মৃত অবস্থায় ছিলে, তিনি তোমাদের জীবিত করলেন, আবার তিনি
                        তোমাদের মৃত্যুবরণ
                        করাবেন, তারপর পুনরায় জীবিত করবেন এবং শেষ পর্যন্ত তাঁর দিকেই তোমাদের প্রত্যাবর্তন ঘটবে।</p>
                    <p class="verse-num">[২ : ২৮]</p>
                </div>
            </div>
            <div class="message-section">
                <div class="message">
                    <h3 class="message-title">MESSAGE FROM CHIEF ADVISOR</h3>
                    <div class="message1-text">
                        <p>
                            জীবনে সফল হতে হলে ধৈর্য, সময় ব্যবস্থাপনা এবং নিজেকে ভালোবাসা অত্যন্ত গুরুত্বপূর্ণ। আমরা অনেক সময় নিজেদের দুর্বল ভাবি,
                            অন্যের সঙ্গে তুলনা করি—এতে আত্মবিশ্বাস কমে যায়। মনে রাখবেন, প্রতিটি মানুষ আলাদা, প্রতিটি যাত্রা আলাদা। প্রতিদিন কিছু
                            নতুন শেখার চেষ্টা করুন, ত্রুটি থেকে শিখুন এবং নিজেকে উন্নত করতে সময় দিন। ভুল হলে হতাশ না হয়ে, সেটাকে শিখার অংশ হিসেবে
                            নিন। ছোট ছোট অভ্যাস বড় পরিবর্তন আনতে পারে। নিজের লক্ষ্যে স্থির থাকুন, ধৈর্য ধরুন, আর কখনো হাল ছেড়েবেন না। আপনার চেষ্টা
                            একদিন আপনাকে আপনার কাঙ্ক্ষিত লক্ষ্যে পৌঁছে দেবে, ইনশাআল্লাহ।
                        </p>
                    </div>
                    <h4 class="message1-author">Mawlana Jubayer Hossain</h4>
                </div>
                <div class="message">
                    <h3 class="message-title">MESSAGE FROM PRESIDENT</h3>
                    <div class="message2-text">
                        <p>
                            জীবনে সফল হতে হলে ধৈর্য, সময় ব্যবস্থাপনা এবং নিজেকে ভালোবাসা অত্যন্ত গুরুত্বপূর্ণ। আমরা অনেক সময় নিজেদের দুর্বল ভাবি,
                            অন্যের সঙ্গে তুলনা করি—এতে আত্মবিশ্বাস কমে যায়। মনে রাখবেন, প্রতিটি মানুষ আলাদা, প্রতিটি যাত্রা আলাদা। প্রতিদিন কিছু
                            নতুন শেখার চেষ্টা করুন, ত্রুটি থেকে শিখুন এবং নিজেকে উন্নত করতে সময় দিন। ভুল হলে হতাশ না হয়ে, সেটাকে শিখার অংশ হিসেবে
                            নিন। ছোট ছোট অভ্যাস বড় পরিবর্তন আনতে পারে। নিজের লক্ষ্যে স্থির থাকুন, ধৈর্য ধরুন, আর কখনো হাল ছেড়েবেন না। আপনার চেষ্টা
                            একদিন আপনাকে আপনার কাঙ্ক্ষিত লক্ষ্যে পৌঁছে দেবে, ইনশাআল্লাহ।
                        </p>
                    </div>
                    <h4 class="message2-author">Md. Kholilur Rahman</h4>
                </div>
            </div>
            <div class="news-event-section">
                <div class="new-event-section-title">NEWS & EVENTS</div>
                <div class="news-event-box">
                    <img class="news-event-img" src="/img/domo_img.jpg" alt="img">
                    <div class="news-event">
                        <p class="date">June 29, 2025</p>
                        <a class="news-event-title" href="/#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, dolorem accusamus eum repudiandae aliquid aliquam possimus fuga eligendi deleniti illum.
                        </a>
                    </div>
                </div>
                <div class="news-event-box">
                    <img class="news-event-img" src="/img/domo_img.jpg" alt="img">
                    <div class="news-event">
                        <p class="date">June 29, 2025</p>
                        <a class="news-event-title" href="/#">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </a>
                    </div>
                </div>
                <div class="news-event-box">
                    <img class="news-event-img" src="/img/domo_img.jpg" alt="img">
                    <div class="news-event">
                        <p class="date">June 29, 2025</p>
                        <a class="news-event-title" href="/#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, dolorem accusamus eum repudiandae
                            aliquid aliquam possimus fuga eligendi deleniti illum.
                        </a>
                    </div>
                </div>
            </div>
            <div class="notice-section">
                <div class="notice-section-title">NOTICE BOARD</div>
                <div class="notice-description">
                    <p class="date">June 29, 2025</p>
                    <a class="notice-title" href="/#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
                        dolorem accusamus eum repudiandae aliquid aliquam possimus fuga eligendi deleniti illum.
                    </a>
                </div>
                <div class="notice-description">
                    <p class="date">June 29, 2025</p>
                    <a class="notice-title" href="/#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
                        dolorem accusamus eum repudiandae aliquid aliquam possimus fuga eligendi deleniti illum.
                    </a>
                </div>
                <div class="notice-description">
                    <p class="date">June 29, 2025</p>
                    <a class="notice-title" href="/#">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </a>
                </div>
            </div>
            <div class="gallery-section">
                <div class="gallery-section-title">PHOTO GALLERY</div>
                <div class="gallery-section-photos">
                    <img class="gallery-section-photo" src="/img/domo_img.jpg" alt="img">
                    <img class="gallery-section-photo" src="/img/domo_img.jpg" alt="img">
                    <img class="gallery-section-photo" src="/img/domo_img.jpg" alt="img">
                    <img class="gallery-section-photo" src="/img/domo_img.jpg" alt="img">
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="contact-section">
                <div class="address-box">
                    <h4 class="address-title">Address: </h4>
                    <p class="address">Bangladesh Forest Research Institute, Chattogram, Bangladesh</p>
                </div>
                <div class="mail-box">
                    <h4 class="mail-title">Email: </h4>
                    <p class="mail-address">abcdejgh@gmail.com</p>
                </div>
                <div class="phone-box">
                    <h4 class="phone-title">Phone: </h4>
                    <p class="phone-number">(+880) 01010101010</p>
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/people/Maktabatus-Salam-%E0%A6%AE%E0%A6%BE%E0%A6%95%E0%A6%A4%E0%A6%BE%E0%A6%AC%E0%A6%BE%E0%A6%A4%E0%A7%81%E0%A6%B8-%E0%A6%B8%E0%A6%BE%E0%A6%B2%E0%A6%BE%E0%A6%AE/61567857368448/" class="facebook-link">
                        <img class="facebook-icon" src="/img/facebook-icon.png" alt="Facebook">
                    </a>
                </div>
            </div>
            <div class="copyright-section">&copy; Maktabatus Salam &bull; All Rights Reserved</div>
        </footer>
    </div>
</body>
</html>