
<div class="search-section">
    <div class="search-bar">
        <form action="/search" method="POST" class="search-form" role="search">
            <input type="search" aria-label="Search" class="search-term" name="search-term"
                placeholder=" search . . .">
            <button class="search-button" type="submit"><img class="search-icon" src="/img/search-icon.png" alt=""></button>
        </form>
    </div>
    <a href="/borrow" class="borrow-link"><button class="borrow-button">Borrow!</button></a>
</div>
<div class="library-box">
    <div class="library-box-title">Book List</div>
    <table class="library-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        <tbody>
            <% for(let i=0; i < books.length; i++){ %>
                <tr>
                    <td>
                        <div class="book-id">
                            <%= books[i].id %>
                        </div>
                    </td>
                    <td><img class="book-image" src=<%=books[i].photo.url %> alt="book-photo"></td>
                    <td>
                        <div class="book-description"> <%- books[i].description.replace(/\r?\n/g, '<br>' ) %> </div>
                    </td>
                    <td>
                        <div class="book-status">
                            <%= books[i].status %>
                        </div>
                    </td>
                </tr>
                <% } %>
        </tbody>
        </thead>
    </table>
</div>