<div class="news-event-section">
    <div class="new-event-section-title">NEWS & EVENTS</div>
    <% if(newsEvent){ %>
        <div class="news-event-box">
            <div class="single-news-event">
                <p class="date">
                    <%= newsEvent.createdAt.toLocaleDateString('bn-BD', {day: '2-digit' ,month: 'long' , year: 'numeric'
                        }) %>
                </p>
                <p class="id">
                    <%= newsEvent.id %>
                </p>
                <p class="single-news-event-description">
                    <%- newsEvent.description.replace(/\r?\n/g, '<br>' ) %>
                </p>
            </div>
        </div>
        <% } %>
</div>
<div class="gallery-section">
    <div class="gallery-section-title">PHOTO GALLERY</div>
    <% if(newsEventPhoto){ %>
        <div class="gallery-section-photos">
            <% for(let i=0; i < newsEventPhoto.length; i++) { %>
                <img class="gallery-section-photo" src=<%=newsEventPhoto[i].photoUrl %> alt="img">
                <% } %>
        </div>
    <% } %>
</div>