<div class="notice-section">
    <div class="notice-section-title">NOTICE</div>
    <% if(notice){ %>
        <div class="notice-box">
            <div class="single-notice-description">
                <p class="date">
                    <%= notice.createdAt.toLocaleDateString('bn-BD', {day: '2-digit' , month: 'long' , year: 'numeric'
                        }) %>
                </p>
                <p class="id">
                    <%= notice.id %>
                </p>
                <p class="single-notice"> <%- notice.notice.replace(/\r?\n/g, '<br>' ) %> </p>
            </div>
        </div>
    <% } %>
</div>