/* English Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Bangla Font */
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");

:root {
  --bangla-font: "Galada", cursive;
  --english-font: "Roboto Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--english-font);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
}

/* 
    HOME
    HEADER SECTION
 */
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 71, 16);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  width: 100%;
}
.logo {
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border-style: solid;
  border-color: white;
}
.title {
  font-size: 60px;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(18, 78, 18, 0.758);
  color: white;
  font-size: 1rem;
  padding: 0.3rem;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}
.navbar button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  margin-left: 2rem;
}

.administration {
  cursor: pointer;
}

.administration-panel {
  display: none;
}

.administration-panel-visible {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  margin-top: 0.3rem;
}

.administration-panel a {
  background-color: rgba(23, 97, 23, 0.758);
  margin-bottom: 0.1rem;
  padding: 0.3rem;
}
.news-section {
  display: flex;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.news-type {
  white-space: nowrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.news {
  width: 100%;
  overflow: hidden;
  margin-left: 1rem;
}
.news-text {
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 30s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 
    HOME
    MAIN
*/

/* QURAN-SECTION */
.quran-section {
  background-color: rgb(232, 228, 219);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.verse-section {
  overflow: auto;
  text-align: center;
}
.verse {
  font-family: var(--bangla-font);
  font-size: 1.5rem;
  font-weight: 400;
}
.verse-num {
  font-family: var(--bangla-font);
}

/* MESSAGE-SECTION */
.message-section {
  display: flex;
  justify-content: center;
}
.message {
  width: 400px;
  height: 400px;
  padding: 1rem;
  margin: 1rem;
  border: solid rgba(23, 97, 23, 0.758);
  background-color: rgb(255, 252, 248);
  text-align: left;
  overflow: auto;
  font-size: 1rem;
}
.message-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-color: rgba(23, 97, 23, 0.758);
}
.message1-text,
.message2-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.message1-author,
.message2-author {
  font-size: 1.1rem;
}

/* NEWS-EVENT-SECTION */
.news-event-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.new-event-section-title {
  width: 80%;
  background-color: rgba(23, 97, 23, 0.758);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
}
.news-event-box {
  width: 80%;
  display: flex;
  padding: 0.5rem;
  background-color: rgb(255, 252, 248);
  margin-bottom: 0.2rem;
  border: 1px solid black;
}
.news-event-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.news-event {
  margin-left: 0.5rem;
  font-size: 1rem;
  height: 100px;
  padding-bottom: 0.5rem;
  overflow: hidden;
}
.news-event-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 1rem;
}
.single-news-event-description {
  font-size: 1rem;
  line-height: 2;
  text-align: justify;
}
.single-news-event {
  background-color: rgb(255, 252, 248);
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.date {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.id {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  font-weight: 400;
}

/* NOTICE-SECTION */
.notice-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.notice-section-title {
  width: 80%;
  background-color: rgba(23, 97, 23, 0.758);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
}
.notice-box {
  width: 80%;
  padding: 0.5rem;
  background-color: rgb(255, 252, 248);
  margin-bottom: 0.2rem;
  border: 1px solid black;
}
.notice-description {
  height: 100px;
  background-color: rgb(255, 252, 248);
  font-size: 1rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
}
.notice-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 1rem;
}
.single-notice {
  font-size: 1rem;
  line-height: 2;
  text-align: justify;
}
.single-notice-description {
  background-color: rgb(255, 252, 248);
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

/* GALLERY-SECTION */
.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery-section-title {
  width: 80%;
  background-color: rgba(23, 97, 23, 0.758);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
}
.gallery-section-photos {
  width: 80%;
  padding: 1rem;
  background-color: rgb(255, 252, 248);
  text-align: center;
  border: 1px solid black;
}
.gallery-section-photo {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  margin-left: 1rem;
}

/* 
    HOME
    FOOTER
*/
.footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f2;
  padding: 1rem;
  font-size: 1rem;
}
.contact-section {
  padding: 1rem;
}
.address-box,
.mail-box,
.phone-box,
.social-links {
  display: flex;
}
.contact-section p {
  font-weight: 250;
}
.contact-section h4 {
  margin-right: 0.5rem;
}
.facebook-icon {
  width: 20px;
}
.copyright-section {
  color: rgb(136, 134, 134);
}

@media (max-width: 600px) {
  /* 
    HOME
    HEADER SECTION
 */
  .heading {
    padding: 0.2rem;
  }
  .logo {
    width: 30px;
  }
  .title {
    font-size: 30px;
  }
  .navbar {
    font-size: 0.6rem;
    padding: 0.2rem;
  }
  .navbar a {
    margin-left: 0.5rem;
  }
  .navbar button {
    font-size: 0.6rem;
    margin-left: 0.5rem;
  }
  .administration-panel {
    margin-top: 0.2rem;
  }

  /* 
    HOME
    MAIN
*/
  .administration-panel a {
    margin-bottom: 0.1rem;
    padding: 0.2rem;
  }
  .news-section {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.7rem;
  }
  .news-type {
    margin-left: 0.2rem;
  }
  .news {
    margin-left: 0.2rem;
  }

  /* QURAN-SECTION */
  .quran-section {
    height: 150px;
    padding: 0.5rem;
  }
  .verse {
    font-size: 1rem;
  }
  .verse-num {
    font-family: var(--bangla-font);
    font-size: 0.7rem;
  }

  /* MESSAGE-SECTION */
  .message {
    width: 49vw;
    max-width: 250px;
    height: 250px;
    padding: 0.2rem;
    margin: 0.1rem;
  }
  .message-title {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }
  .message1-text,
  .message2-text {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
  .message1-author,
  .message2-author {
    font-size: 0.75rem;
  }

  /* NEWS-EVENT-SECTION */
  .news-event-section {
    margin-top: 0.5rem;
  }
  .new-event-section-title {
    width: 100%;
    font-size: 1rem;
    padding: 0.2rem;
  }
  .news-event-box {
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.1rem;
  }
  .news-event-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .news-event {
    margin-left: 0.5rem;
    padding-bottom: 0.3rem;
  }
  .news-event-title {
    -webkit-line-clamp: 3; /* Show only 4 lines */
    font-size: 0.75rem;
  }
  .single-news-event-description {
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 0.1rem;
  }
  .single-news-event {
    font-size: 0.75rem;
    padding-bottom: 0.3rem;
  }
  .date {
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .id {
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: 400;
  }

  /* NOTICE-SECTION */
  .notice-section {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .notice-section-title {
    width: 100%;
    font-size: 1rem;
    padding: 0.2rem;
  }
  .notice-box {
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.1rem;
  }
  .notice-description {
    height: 80px;
    font-size: 0.75rem;
    padding-bottom: 0.3rem;
  }
  .notice-title {
    -webkit-line-clamp: 3; /* Show only 4 lines */
    font-size: 0.75rem;
  }
  .single-notice {
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 0.1rem;
  }
  .single-notice-description {
    font-size: 0.75rem;
  }

  /* GALLERY-SECTION */
  .gallery-section-title {
    width: 100%;
    font-size: 1rem;
    padding: 0.2rem;
  }
  .gallery-section-photos {
    width: 100%;
    padding: 0.3rem;
  }
  .gallery-section-photo {
    max-width: 200px;
    max-width: 200px;
    margin-left: 0.3rem;
  }

  /* 
    HOME
    FOOTER
*/
  .footer {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 0.75rem;
  }
  .contact-section {
    padding: 0.5rem;
  }
  .contact-section h4 {
    margin-right: 0.3rem;
  }
  .facebook-icon {
    width: 15px;
  }
}

/* 
    ADMIN 
    LIBRARY 
*/
.admin-library-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input {
  width: 300px;
  height: 2rem;
}
.form-group label {
  margin-top: 1rem;
}
.form-group textarea {
  width: 300px;
}
.submit {
  font-size: 1rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: rgba(23, 97, 23, 0.847);
  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  /* 
    ADMIN 
    LIBRARY 
*/
  .admin-library-box {
    margin-top: 2rem;
  }
  .submit {
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  }
}

/* 
    LIBRARY 
*/

.library-box {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.library-table {
  border-collapse: collapse;
  width: 70vw;
  text-align: center;
}
.library-box-title {
  width: 70vw;
  background-color: rgba(23, 97, 23, 0.758);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
}
.library-table th,
.library-table td {
  border: 1px solid rgba(23, 97, 23, 0.758);
  padding: 0.2rem;
}
.book-id {
  font-size: 1rem;
  width: 70px;
  max-width: 100px;
  max-height: 200px;
  overflow: auto;
}
.book-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
.book-description {
  max-height: 200px;
  overflow: auto;
  font-size: 1rem;
  text-align: justify;
}
.book-status {
  overflow: auto;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 600px) {
  /* 
    LIBRARY 
*/
  .library-box {
    margin-top: 1.5rem;
  }
  .library-table {
    border-collapse: collapse;
    width: 100vw;
  }
  .library-box-title {
    width: 100vw;
    font-size: 1rem;
    padding: 0.2rem;
  }
  .library-table th,
  .library-table td {
    padding: 0.1rem;
    font-size: 0.8rem;
  }
  .book-id {
    font-size: 0.7rem;
    width: 35px;
    max-width: 60px;
    max-height: 100px;
  }
  .book-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
  }
  .book-description {
    max-width: 200px;
    max-height: 100px;
    font-size: 0.7rem;
  }
  .book-status {
    max-width: 70px;
    max-height: 100px;
    font-size: 0.7rem;
  }
}

/* 
  ADMIN 
  MEDIA 
*/
.admin-media-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.all-verses {
  display: flex;
  justify-content: center;
}
.verses {
  width: 80vw;
  margin-top: 2rem;
  text-align: justify;
}

@media (max-width: 600px) {
  /* 
  ADMIN 
  MEDIA 
*/
  .admin-media-box {
    margin-top: 2rem;
  }
  .verses {
    width: 100vw;
    margin-top: 1.5rem;
    padding: 0.3rem;
  }
}

/* 
  Committee 
*/
.committee-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.committee {
  width: 70vw;
  text-align: justify;
  font-size: 1rem;
  line-height: 2rem;
  padding: 3rem;
  background-color: rgb(255, 252, 248);
  font-weight: 600;
}

.committee-box-title {
  width: 70vw;
  margin-top: 2rem;
  background-color: rgba(23, 97, 23, 0.758);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
}

@media (max-width: 600px) {
  /* 
  Committee 
*/
  .committee {
    width: 100vw;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 1rem;
    font-weight: 500;
  }

  .committee-box-title {
    width: 100vw;
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem;
  }
}

/* 
  About 
*/
.about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  width: 80vw;
  text-align: justify;
  font-size: 1rem;
  line-height: 2rem;
  padding: 1rem;
  background-color: rgb(255, 252, 248);
}

.about-box-title {
  width: 80vw;
  margin-top: 2rem;
  background-color: rgba(23, 97, 23, 0.758);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
}

@media (max-width: 600px) {
  /* 
  about 
*/
  .about {
    width: 100vw;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0.5rem;
  }

  .about-box-title {
    width: 100vw;
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem;
  }
}

.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logout-btn {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  right: 2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: #e53935;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .register-box {
    margin-top: 2rem;
  }

  .login-box {
    margin-top: 2rem;
  }

  .logout-btn {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    right: 0.8rem;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  }
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 30px;
}

.search-term {
  flex: 1; /* This makes the input expand to fill space */
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: rgba(23, 97, 23, 0.847);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-icon {
  width: 16px;
  height: 16px;
}
.borrow-button {
  margin-left: 0.5rem;
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: #e53935;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .search-section {
    margin-top: 0.5rem;
  }

  .search-form {
    width: 300px;
    height: 15px;
  }

  .search-term {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  .search-button {
    padding: 0.25rem 0.5rem;
  }

  .search-icon {
    width: 12px;
    height: 12px;
  }
  .borrow-button {
    margin-left: 0.2rem;
    height: 23px;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  }
}

.borrow-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.borrow-lent-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.borrowers-btn,
.borrow-requests-btn {
  width: 300px;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(23, 97, 23, 0.758);
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.borrow-requests-btn {
  margin-top: 0.5rem;
}

.submission-message {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.not-found-message {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .borrowers-btn,
  .borrow-requests-btn {
    font-size: 1rem;
  }
  .borrow-requests-btn {
    margin-top: 0.3rem;
  }
}

/* borrow request list */
.book-borrow-box {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-borrow-table {
  border-collapse: collapse;
  width: 70vw;
  text-align: center;
}
.book-borrow-table th,
.book-borrow-table td {
  border: 1px solid rgba(23, 97, 23, 0.758);
  padding: 0.2rem;
  
}
.book-borrow-table td {
  font-weight: 400;
}
.person-description {
  max-width: 600px;
  max-height: 200px;
  overflow: auto;
  font-size: 1rem;
  padding: 0.5rem;
  overflow: auto;
}
.book-request-time {
  max-width: 100px;
  font-size: 1rem;
}
.book-request-dlt-btn{
  border: none;
}
.delete-btn {
  border: none;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
}
.book-borrow-title {
  width: 70vw;
  background-color: rgba(23, 97, 23, 0.758);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
}


.book-borrower-box {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-borrower-table {
  border-collapse: collapse;
  width: 70vw;
  text-align: center;
}
.book-borrower-table th,
.book-borrower-table td {
  border: 1px solid rgba(23, 97, 23, 0.758);
  padding: 0.2rem;
  
}
.book-borrower-table td {
  font-weight: 400;
}
.borrow-date, .due-date, .return-date {
  max-width: 100px;
  font-size: 1rem;
}
.book-borrower-title {
  width: 70vw;
  background-color: rgba(23, 97, 23, 0.758);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
}



@media (max-width: 600px) {

  .book-borrow-box {
    margin-top: 0.5rem;
  }
  .book-borrow-table {
    width: 100vw;
  }
  .book-borrow-table th,
  .book-borrow-table td {
    padding: 0.1rem;
    font-size: 0.8rem;
    height: 40px;
    max-height: 55px;
  }
  .person-description {

    max-width: 200px;
    
    font-size: 0.7rem;
    padding: 0.3rem;

  }
  .book-request-time {
    max-width: 100px;
    font-size: 0.8rem;
  }
  .delete-btn {
    width: 1.5rem;
    height: 0.8rem;

  }
  .book-borrow-title {
    width: 100vw;
    font-size: 1rem;
  }


  .book-borrower-box {
    margin-top: 0.5rem;
  }
  .book-borrower-table {
    width: 100vw;
  }
  .book-borrower-table th,
  .book-borrower-table td {
    padding: 0.1rem;
    font-size: 0.8rem;
    height: 40px;
    max-height: 55px;
  }
  .borrow-date, .due-date, .return-date {
    max-width: 100px;
    font-size: 0.8rem;
  }
  .book-borrower-title {
    width: 100vw;
    font-size: 1rem;
  }
}

